.App{
    max-width: 1300px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: stretch;
    border: 2px solid #0d56df;
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(100vh - 40px);
    & .gen-container{
        display: grid;
        grid-template-rows: auto 1fr;
        &> h1{
            color: white;
            background: #06296b;
            padding: 0.3rem 1rem;
            position: sticky;
            top: 0px;
            
        }
    } 
    & .editor-container{
        overflow-y:hidden;
        border-right: 2px solid #0d56df;
        & textarea {
            width: 100%;
            outline: none;
            min-height: inherit;
            padding: 12px 20px;
            box-sizing: border-box;
            background-color: #003ba8;
            color: #7ef9ff;
            font-size: 16px;
            resize: none;
            border: none;
          }
    }
    & .preview-container{
        overflow-y: auto;
        & #preview{
            width: 100%;
            word-break: break-all;
            padding: 12px 20px;
            background-color: #9db3c8;
            & h1, h2, h3, h4, h5, h6,p,pre{
                margin-bottom: 0.5rem;
            }
            & pre{
                margin:1.3rem 0
            }
            & code{
                background: white;
            }
            & pre code{
                background: white;
                border: 0.09rem solid #0d56df;
                border-radius: 0.3rem;
                padding: 0.5rem 0.8rem;
                overflow-x: auto;
            }
            & ul, blockquote{
                padding-left: 1.5rem;
            }
            & img{
                width: 100%;
                margin: 1.6rem 0;
            }
            & blockquote{
                border-left: 0.3rem solid #0d56df;
                margin-left: 0.5rem;
                padding-left: 1rem;
                font-style: italic;
            }
            
            
          }
        }
}

@media only screen and (max-width: 600px) {
    .App{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
